/* Add screen styles below */
body {
    background: #1A1A1A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.navbar {
    width: auto;
    display: flex;
    padding-left: 20px;
}
h1 {
    font-size: 50px;
    color: #FFFFFF;
    padding-left: 20px;
}
h2 {
    font-size: 50px;
    background: -webkit-linear-gradient(360deg,#07B3EA, #EC9228, #AE3232);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.big-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 365px;
    position: absolute;
}
.pistol {
    background: linear-gradient(90deg,#07B3EA, #EC9228);
    text-align: center;
    color: #000000;
    border-radius: 20px;
    margin: 10px;
    width: 250px;
    height: 400px;
    padding: 50px;
    margin-top: 20px;
}
.rigel {
    background: linear-gradient(90deg,#07B3EA, #EC9228);
    text-align: center;
    color: #000000;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
}
.betelgeuse {
    background: linear-gradient(70deg,#0D005B, #6B1963);
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
}
.aldebaran {
    background: linear-gradient(70deg,#0D005B, #6B1963);
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
}
.lacertae {
    background: linear-gradient(70deg,#0D005B, #6B1963);
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
}
.flex-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
.sun {
    background: linear-gradient(70deg,#0D005B, #6B1963);
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
}
.moon {
    background: linear-gradient(70deg,#0D005B, #6B1963);
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
}
.comet {
    background: linear-gradient(70deg,#0D005B, #6B1963);
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
}
.comet2 {
    background: linear-gradient(70deg,#0D005B, #6B1963);
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
}
.note {
    color: #FFFFFF;
    margin-top: 100px;
    padding-left: 10px;
}